<div class="form">
    <h2>{{!employees?"ADD EMPLOYEE":"EDIT EMPLOYEE"}}</h2>
    <form (ngSubmit)="formSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="empid">Emp ID</label>
            <input type="text" class="form-control mr-sm-2 border border-primary" id="empid" name="empid" placeholder="Enter emp ID" [ngModel]="employees?.empid" required [readOnly]="employees">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control mr-sm-2 border border-primary" id="name" name="name" placeholder="Enter Name" [ngModel]="employees && employees.name" required>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control mr-sm-2 border border-primary" id="dob" name="dob" placeholder="dd-mm-yyyy" [ngModel]="employees && employees.dob" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control mr-sm-2 border border-primary" id="email" name="email" placeholder="Enter Email" [ngModel]="employees && employees.email" required
                email>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>
</div>
